<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    {{ input }}
    <button type="submit">Get My Ip</button>
</form>
    <table border="">
    {% for key, values in info.items %}
    <tr>
        <th> {{ key }} </th>
    </tr>
    <tr>
        <td>{{ values }} </td>
    </tr>
    {% endfor %}
        </table>
        <table border="">
            {% for key, values in my_ip.items %}
            <tr>
                <th> {{ key }} </th>
            </tr>
            <tr>
                <td>{{ values }} </td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>